body {
  background-color: #ddf;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.span {
  float: left;
}

img {
  border-right: 60px solid black;
  border-left: 60px solid black;
}

.movie-watched {
  cursor: pointer;
}

.header {
  font-size: 48px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.add-container {
  grid-column-start: 1;
  grid-column-end: 2;
}

.add-container input {
  margin: 12px;
}

.watchlist-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.watched-container {
  grid-column-start: 3;
}
